html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  max-width: 800px;
  margin: auto;
  
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Default shadow */
  border: 1px solid #ccc; /* Default border */
}

button:hover {
    opacity: 60%;
}

button:active {
    box-shadow: none; /* Remove default shadow */
    border: 1px solid #999; /* Border when button is pressed */
}

button i {
  font-size: 24px;
}

#choices,
#results {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#results table {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

#results table th,
#results table td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}
